<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">MediaChronicle is a idea jot downer for your next media such as videos, podcast, music, soundtrack basically anything.</p>
  <a href="/ideas/add" class="btn btn-dark btn-lg">Add Media idea</a>
</div>